body {
  font-family: 'Raleway', sans-serif;
  font-size: calc(1rem + 0.8vw);
  line-height: 1.8em;
  font-weight: 600;
  strong,
  b {
    font-weight: 600;
  }
}

.font-sm {
  font-size: calc(1.6rem + 0.7vw); 
}

.font-light {
  font-weight: lighter;
}
