@import './variables';


.link {
  text-decoration: none;
  color: var(--link-color);

  &:hover {
    color: $maincolor;
    transition: color 0.3s ease;

    @include desktop {
      border-bottom: 2px var(--link-hover-color) solid;
    }
  }
}

.link2 {
  text-decoration: none;
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
    transition: color 0.8s ease;
  }
}
