@import './variables';

.footerIcons{
  color:$maincolor;
  font-size: 1.2em;

}
.link {
  text-decoration: none;
  color:var(--text-color);


  &:hover {
    color: var(--text-color);
    transition: color 0.3s ease;

    @include desktop {
      border-bottom: 2px var(--link-hover-color) solid;
    }
  }
}

.link2 {
  text-decoration: none;
  color: var(--text-color);


  &:hover {
    color: var(--text-color);
    transition: color 0.8s ease;
    
  }
}
