.link {
  text-decoration: none;
  color: var(--link-color); /* Usa la variable de color del enlace */

  &:hover {
    color: var(--link-hover-color); /* Usa la variable de color del hover */
    transition: color 0.3s ease; /* Ajusta el tiempo de transición si es necesario */
  }
}

.link2 {
  text-decoration: none;
  color: var(--link-color); /* Usa la variable de color del enlace */

  &:hover {
    color: var(--link-hover-color); /* Usa la variable de color del hover */
    transition: color 0.8s ease; /* Ajusta el tiempo de transición */
  }
}
