$maincolor: #f2bd1e;
$lightcolor: rgb(255, 255, 255);
$mediumcolor: rgb(189, 180, 180);
$darkcolor: rgba(2, 2, 2, 0.934);
$color-grey-dark: #242323;
$color-grey-light: lightgrey;
$color-yellow-light: #f2bd1e;
