$maincolor: #1ef257;
$lightcolor: rgb(255, 255, 255);
$mediumcolor: rgb(189, 180, 180);
$darkcolor: rgba(14, 14, 14, 0.934);
$color-grey-dark: #0f0e0e;
$color-grey-light: lightgrey;
$color-green-light:#60bc20;
$color-pistachio:rgb(168, 213, 46);
$color-aguamarina:#9afcc5;
$color-grass:#30af0a;
$color-caqui:rgb(145, 170, 56);
$color-caqui-light:rgb(206, 225, 70)
