@import 'core/reset';
@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/links';
@import 'core/iconos';
@import 'core/fonts';
@import './App.scss';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 210px;
  @include tablet{padding-top: 270px;}
  @include desktop {
    padding-top: 150px;
  }


  

}


a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  .btn {
    margin:10%;
    background-color: $maincolor;
    border-radius: 50px;
    border: 2px solid rgba(193, 245, 210, 0.855);
    color: black;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: max-content;
    white-space: nowrap; 
    
    i {
      font-size: large;
    }
  
    @include desktop {
      font-weight: 700;
      margin: 20%;
   
    
    }
  }
}  

