@import "core/reset";
@import "core/variables";
@import "core/mediaqueries";
@import "core/links";
@import "core/iconos";
@import "core/fonts";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    padding: 3em;
  }

  
  &__txt {
    text-align: center;
    margin-bottom: 3.5rem;
    max-width: 70vw;
    &__parg {
      margin-top: 2rem;
    }
  }}

.project{
  &__img {
    width: 40rem;
  border-radius: 50%;
  object-fit:cover;
  box-shadow: 0 0 15px 5px rgba(238, 238, 193, 0.859);
;}}