@import 'core/reset';
@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/links';
@import 'core/iconos';
@import 'core/fonts';



* {
  box-sizing: content-box; 
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #000; 
  --text-color: #fff;

  --link-hover-color: #aaa3a3; 
  --overlay-background-color: #f0f0f0;
  --aquamarine: #{$maincolor};
  --shadow-pic:#{$lightcolor} ;
 --HomeButton:#{$darkcolor};
 --navLink:#{$maincolor};
}

[data-theme="light"] {
  --background-color:#F5F5F5; 
  --text-color: #090000;
  --link-color: #000; 
  --link-hover-color: #312e2e; 
  --aquamarine: #{$darkcolor};
  --overlay-background-color: #0a0303;
  --shadow-pic: #{$maincolor};
  --HomeButton:#{$maincolor};
  --navLink:#{$lightcolor};
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
 color:$darkcolor;
  text-decoration: none;
  transition: color 0.3s ease;

  @include desktop{
 }
  
  &:hover,
  &:focus {
    color: rgb(215, 40, 215)
  }
}
