@import "core/reset";
@import "core/variables";
@import "core/mediaqueries";
@import "core/links";
@import "core/iconos";
@import "core/fonts";
.contact {
  display: flex;
  justify-content: center;
 width: 90%;
 align-items: center;

  &__txt {
    text-align: center;
    &__parg {
      margin-top: 2rem;
    }
  }
}

.contact__form {
  max-width: 800px;
  margin: 1% auto 18%; 
  padding : 0px  10% 0px 15%;



  @include tablet {
    max-width: 60%; 
    padding: 0 6%; 
    margin: 8% auto 20%; 
  }

  @include desktop {
    max-width: 60%; 
    padding:0% 10% 2% 12%; 
    margin: 0 auto 5%; 
  }
} 

.form-group {  
  margin-bottom: 20px;  font-weight: 600;
;}

label {
  display: block;

  margin-bottom: 5px;
}

input[type="email"],
textarea {
  width: 90%;
background-color: rgb(184, 245, 231 , 0.8);
  padding: 8px;
  font-size: 20px;
  border-radius: 5px;
  border: 3px solid $color-pistachio;
}

button {
  padding: 10px 20px;
  background-color:rgb(189, 180, 180);
  color: $darkcolor;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

}

button:hover {
  background-color: $maincolor; 
  color: $lightcolor; 
}
