@import "core/reset";
@import "core/variables";
@import "core/mediaqueries";
@import "core/links";
@import "core/iconos";
@import "core/fonts";
.contact {
 

  &__txt {
    text-align: center;
    &__parg {
      margin-top: 2rem;
    }
  }
}

.contact__form {
  max-width: 800px;
  margin: 0 auto; 
  padding : 0px  7%;


  @include tablet {
    max-width: 60%; 
    padding: 0 6%; 
  }

  @include desktop {
    max-width: 40%; 
    padding:2% 7%; 
  }
}

.form-group {  
  margin-bottom: 20px;  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
textarea {
  width: 100%;
background-color: #f4e7e7;
  padding: 8px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #928585;
}

button {
  padding: 10px 20px;
  background-color:rgb(189, 180, 180);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

}

button:hover {
  background-color: $color-pistachio; 
  color: rgb(33, 29, 29); 
}
