@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/fonts';
@import './App.scss';

.title{
width: 100vw;
background-color:rgb(107, 221, 183, 0.5);
color:var(--overlay-background-color);
font-weight: 800;
text-align: center;
border-top: $maincolor solid 4px;
border-bottom: $maincolor solid 4px;
box-shadow: white 3px;
text-transform: uppercase;
margin-top: 5%;
letter-spacing: 10px;

}
.swiper-container {
  height: 100%;
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    .PicSlide {
      display: block;
      width: fit-content;
      height: fit-content;
      object-fit: cover;
      box-shadow: rgba(131, 142, 140, 0.5)  0 0 7px 7px;
      
    }
  }

  .swiper-thumbs {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-content: flex-start;
    padding-top: 0;
    margin-top: 0;

    .swiper-slide {
      opacity: 0.4;
      cursor: pointer;

      &-thumb-active {
        opacity: 1;
      }

      .PicSlideD {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

.swiper {
  width: 90vw;
  padding: 6%;
  margin-bottom: 0 !important;
  padding-bottom: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  color: $maincolor;
  width: 20px;
  height: 20px;
  top: calc(50%);

  @include mobile {
    width: 16px;
    height: 16px;
  }
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-slide:hover {
  transform: scale(1.1);
}


@include mobile {
  .swiper-container {
    margin: 10px 0;
    
    .swiper-slide {
      .PicSlide {
        width: 80%;
      }
    }
    
    .swiper-thumbs {
      display: none;
    }
  }
}

@include tablet {
  .swiper-container {
    .swiper-slide {
      .PicSlide {
        width: 70%;
      }
    }
  }
}

@include desktop {
  .swiper-container {
    .swiper-slide {
      .PicSlide {   
        width: 60%;
      }
    }

    .swiper-thumbs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      margin-top: 10px;   
 
  .swiper-pagination {

    bottom: -10px; 


  .swiper-pagination-bullet {
    background-color: $maincolor;  


    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet-active {
    background-color: darken($maincolor, 10%);  // Color ligeramente más oscuro cuando el punto está activo
  }


  

    }
  }
}

@include LDesktop {
  .swiper-container {
    .swiper-slide {
      .PicSlide {
        width: 50%;
      }
    }
  }
}}