@import 'core/reset';
@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/links';
@import 'core/fonts';

.main_sectionExperience {
  color: var(--text-color); 


  padding-bottom: 30px;

  @include desktop {
    width: 80vw;
  }

  &_title {
    text-align: center;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--text-color); 
    padding: 15px;

    span {
      color: var(--text-color); 
    }
    @include tablet {
      font-size: 36px;
      padding: 30px;
    }
    @include desktop {
      font-size: 1.8em;
    }
  }

  &_list {
    padding: 0px 20px;
    width: fit-content;
    width: 100%;
    @include tablet {
      text-align: left;
      font-size: 1.5em;
      width: 100%;
      margin: 3% 0;
    }
    &-element {
      line-height: 1.7;
     
      @include tablet {
        border-left: solid 2px $maincolor; 
        padding-left: 3.2%;
        position: relative;
        padding-bottom: 5%;
        margin-left: 2%;
      }

      &-dot {
        @include tablet {
          width: 15px;
          height: 15px;
          background-color: $maincolor; 
          border: 2px solid #cdf76a;
          border-radius: 7.5px;
          position: absolute;
          left: -8px;
          top: 0%;
          transform: translateY(-50%);
        }
      }
      &:nth-child {
        text-align: left;
      }

      &:nth-child(odd) {
        text-align: left;
      }

      &-date {
        color: var(--link-hover-color); 
        font-weight:600;
        font-size: 0.8em;
        text-transform: uppercase;
 
        @include tablet {
          font-size: 0.7em;
          position: absolute;
          top: 0%;
          transform: translateY(-50%);
        }
        @include desktop {
        }
      }
      &-job {
        @include mobile {
          padding-bottom: 3px;
          background-color: rgba(140, 250, 222, 0.951);
          color: rgb(34, 28, 28); 
          padding: 2%;
          line-height: 1;
          font-weight: 600;
          margin:1% 0;
        }
        @include tablet {
          padding:0;
  
          background-color: none;
          padding-top: 4%;
    
        }
        @include desktop {
        }
      }
      &-company {
        font-weight: 500;
        padding-bottom: 5px;
      color:var(--aquamarine);
font-style: oblique;

      

        @include tablet {
          font-size: 1.2rem;
        }
        @include desktop {
        }
      }
      &-description {
        font-size: 16px;
        font-weight: lighter;
        padding-bottom: 20px;
        text-align: justify;
        color: var(--text-color); 
        line-height: 1.8;
        @include tablet {
          font-size: 0.5em;
          text-align: initial;
          width: 100%;
        }
        @include desktop {
        }
      }
    }
  }
}
