@import 'core/reset';
@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/links';

@import 'core/fonts';
@import './App.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 4% 0 2%;

  &__nav {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 20px;

    & a {
      font-size: 2em;
      color: linear-gradient(27deg, rgb(205, 226, 222),rgb(3, 139, 134) , rgb(8, 180, 180));
      padding: 0.5em;
      transition: color 0.3s, transform 0.6s;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      height: 50px;
      width: 50px;

      &:hover {
        color: $darkcolor;
        background-color: $maincolor;
      }

      &:hover i {
        transform: rotate(360deg);
        transition: transform 1s;
      }

      @include desktop {
        font-size: 1.6em;
      }
    }
  }
}
