@import 'core/reset';
@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/links';
@import 'core/iconos';
@import 'core/fonts';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 2%;
  padding-bottom: 0px;
  height: max-content;
  background-color: var(--background-color);
  max-height: 210px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;

  @include tablet {
    margin-bottom: 270px;
  }
  @include desktop {
    margin-bottom: 150px;
  }

  @include desktop {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 0px;
    height: 100px;
    gap: 0px;
  }
  .LOGO {
    width: 23%;
    border: $maincolor 5px solid;
    @include desktop {
      width: 44%;
      position: absolute;
      top: 20px;
      left: 40px;
      width: 6%;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);

    gap: 1rem;

    @include tablet {
      align-items: flex-start;
      gap: 3rem;

      padding-top: 3%;
    }
    @include desktop {
      align-items: flex-start;
      justify-content: center;
      text-transform: uppercase;
      width: 100vw;
      text-shadow: 2px 1px 2px var(--navLink);


      padding-top: 2%;
      align-content: flex-start;
      margin-top: 0;
    }
  }
}

.linkNav {
  display: flex;
  justify-content: center;
  align-items: center;a {
  font-weight: 600;      
}

  @include desktop {
    width: 20vw;
    margin-bottom: 3%;
    @include desktop {
      margin-bottom: 0px;
    }
  }
}

