@import 'core/reset';
@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/links';
@import 'core/iconos';
@import 'core/fonts';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 2%;

  @include desktop {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .LOGO {
  width: 50%;
  border: rgb(90, 255, 57) 5px solid;

}
  
  &__nav {
    display: flex;
    justify-content: space-around;
   
    gap: 1rem;

    @include tablet {
      gap: 3rem;
   
      padding-top: 3%;
    }
    @include desktop {
      align-items: flex-start;
      justify-content: space-evenly;
      text-transform: uppercase;
      gap: 3rem;
      width: 80vw;
      padding-top: 0;
      align-content: flex-start;
    }
  }
}


.linkNav {
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    width: 30vw;
  }
}
