@import 'core/reset';
@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/links';
@import 'core/iconos';
@import 'core/fonts';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 2%;
  padding-bottom: 0px;
  height: max-content;

  @include desktop {
    flex-direction: row;
    align-items: flex-start;
    justify-content:flex-start;

    gap: 0px;
  }
  .LOGO {
    width: 50%;
    border: $maincolor 5px solid;
    @include desktop{
      width: 44%;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-around;

    gap: 1rem;

    @include tablet {
      align-items: flex-start;
      gap: 3rem;

      padding-top: 3%;
    }
    @include desktop {
      align-items: flex-start;
      justify-content: space-evenly;
      text-transform: uppercase;
      gap: 5rem;

      padding-top: 2%;
      align-content: flex-start;
      margin-top: 0;
    }
  }
}

.linkNav {
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    width: 20vw;
    margin-bottom: 3%;
    @include desktop {
      margin-bottom:0px;
    }
  }
}
a {
  font-weight: 600;
}
