@import 'core/reset';
@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/links';
@import 'core/iconos';
@import 'core/fonts';
@import './App.scss';

.knowledges {
  display: flex;
  flex-direction: column;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: calc(100px + 20%); 
  @include tablet {
    padding-top: 270px;
  }
  @include desktop {
    padding-top: 150px;
  }
  .project {
    height: 100%;
   
    margin: 5% auto 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
  
  
  
    &__imgA {
      width: 10rem;
      box-shadow: 0 0 15px 5px  var(--shadow-pic);;
    
      @include tablet {
        width: 18rem;
      }
  
    
    }
  }
  &_topContainer {
    margin-top: 2%;
    @include desktop {
      margin-top: -90px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 4%;
      font-weight: 700;
      align-content: stretch;
      align-items: center;
      height: calc(100vh - 100px);

    }
  }

  &_world {
    font-size: 1.6em;
    color: $maincolor; margin-bottom: 10px;
 

    @include tablet {
      font-size: 2em;
    }
    @include desktop {
      text-align: right;
      font-size: 2em;
      width: 85%;
    }
  }
  &__txt {
    flex-direction: row;
    text-align: center;
    margin-bottom: 3.5rem;
    max-width: 80vw;
    font-weight: 700;

    @include desktop {
      max-width: 60vw;

      font-size: 0.9em;
      text-align: left;

      text-align: justify;
    }

    &__name {
      padding: 40px;
      margin-top: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0px;
      font-size: 1em;

      font-family: 'Sofadi One', system-ui;

      @include desktop {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
    }
    &__subtitle {
      font-size: larger;
      font-weight: 500;
      color: var(--overlay-background-color);
    }
    &__resume {
      margin-top: 10px;
      font-style: italic;
    }
  }
}
.arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px; 
  animation: bounce 1.5s infinite;
  @include tablet{

  }
  @include desktop{
    top: -100px;
    font-size: 3rem;
  }

  svg {
    font-size: 2rem;
    color: $maincolor;
    position: relative;
    
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
