@import 'core/mediaqueries';
@import './App.scss';

.home-button {
  position:fixed;
  top: 1rem;
  left: 1rem;
  font-size: 1.2rem;
  color: var(--HomeButton);
  background-color: var(--overlay-background-color);
  padding: 0.5rem;
  border-radius: 50%;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: var(--aquamarine);
    background-color: var(--background-color);
    i {
      filter: drop-shadow(2px 2px var(--link-hover-color));
    }
  }

  @include tablet {
    top: 4rem;
    right: 2.5%;
    left: auto;
    font-size: 2rem;
  }

  @include desktop {
    top: 88%;
    font-size: 2rem;
  }
}
