@import 'core/reset';
@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/links';
@import 'core/iconos';
@import 'core/fonts';

.footer {

  
  &__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.35em;
    
    &__iconos::before {
      color: $maincolor;
      padding: 0.3em;
      font-size: 1.8em;
    
      transition: color 0.3s, transform 0.3s;
      background-color: rgb(255, 255, 255); 
      border-radius: 100em;

      @include desktop {
        font-size: 1.4em;
      }

      &:hover {
        background-color: $maincolor;
        color: var(--background-color);
        transition: 0.8s ease;
        transform: rotate(360deg);
      }
    }
  }
}
