@import 'core/reset';
@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/links';
@import 'core/iconos';
@import 'core/fonts';

.project-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-top: 2%;
  margin-bottom: 7%;
  font-size: 1em;
  padding-top: 180px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 270px;
  }

  @include desktop {
    margin: 7% 10%;
    padding-top: 70px;
    align-items: center;
  }

  .project-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(217deg, rgb(94, 234, 203), rgb(52, 172, 158)),
      linear-gradient(127deg, rgb(244, 244, 59), rgb(29, 203, 171)),
      linear-gradient(336deg, rgb(70, 230, 169), rgb(12, 187, 140));
    transition: transform 0.3s;
    width: 85%;
    position: relative;
    overflow: hidden;

    @include tablet {
      width: 40%;
      gap:0.5rem
    }

    @include desktop {
      width: 30%;

      &:hover .project__hover {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .project__hover {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--aquamarine);
      font-size: 0.9em;
      color: var(--background-color);
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0.3rem;
      text-align: center;
      padding: 1rem;
      opacity: 0;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      .hover-links {
        display: flex;
        flex-direction: row;
        margin-top: 6px;
        color: var(--aquamarina);
        height: fit-content;
        justify-content: space-around;
        align-items: center;
        gap: 1.6rem;
        width: 70%;
        padding: 1rem;
        background-color: #d5d5d5;
        border-radius: 10px;
        font-size: 2em;
        padding: 5px;
      }
      p {
        font-size: 0.55em;
        margin-bottom: 10px;
        height: fit-content;
        line-height: 1.5;
        text-align: inherit;
      }

      .icons-hover {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        height: 2%;

        .project-item:hover & {
          background-color: $darkcolor;
          opacity: 10;
        }
      }
    }

    .project__imgP {
      width: 100%;
      height: 180px;
      border-radius: 10px;
      object-fit:cover;

      @include desktop {
        height: 237px;
      }
    }

    .project__overlay {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: #f0f0f0;
      border-radius: 10px;

      @include tablet {
        height: 10rem;
        width: 100%;
      }
      @include desktop {
        height: 7rem;
      }

      &__repo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;

        i {
          font-size: 1.7em;
          border-radius: 50%;
          padding: 0;
        }
        @include desktop {
          display: none;
        }
      }

      h2 {
        font-size: 1.3rem;
        color: #100303;
        font-weight: 600;
        font-family: 'Righteous', sans-serif;

        @include tablet {
          font-size: 1.6rem;
        }
      }
      .mvl-icons {
        .fa-brands,
        .fa-solid {
          color: $maincolor !important;
        }
        @include desktop {
          display: none;
        }
      }

      a {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
