@import 'core/reset';
@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/links';
@import 'core/iconos';
@import 'core/fonts';

.tech {
  
  display: flex;
  gap: 0.6rem;
  align-items: center;


  // .fa-xl::before {
  //   font-size: 1.6rem;
  //   .fa-brands,.fa-solid{
  //     color:$darkcolor !important;}

  //   z-index: 100;


  // }

  &__img {
    height: 2em;
    object-fit: contain;


  }
}
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);

  padding: 0.5rem;
  border-radius: 5px;
  z-index: 10; 
}
