@import 'core/reset';
@import 'core/variables';
@import 'core/mediaqueries';
@import 'core/links';
@import 'core/iconos';
@import 'core/fonts';

.tech {

  color: $color-green-light;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  i{color:black}
  @include desktop {
    color: rgb(86, 101, 86) !important;
  }
  
  &__img {
    height: 1.5em;
    object-fit: contain;
    &__mvl {
      display: contents;
      @include desktop {
      
        
      }
    }
    &__dsk {
      display: none;
      @include desktop {
        display: contents;
        color:black
      }
    }
  }

}
.iconic{
  color:rgb(84, 79, 79) ;
}